table {
    width:500px;
    height:500px;
    border: 1px solid black;
    border-collapse: collapse;
}

tr, td {
    border: 1px solid black;
    text-align: center;
}

.hoverable:hover {
    background-color: black;
}

.marked {
    background-color: black;
}